[submodule "third_party/workerd"]
	path = third_party/workerd
	url = https://github.com/cloudflare/workerd.git
[submodule "third_party/workers-sdk"]
	path = third_party/workers-sdk
	url = https://github.com/cloudflare/workers-sdk.git
[submodule "third_party/dynamic-workflows"]
	path = third_party/dynamic-workflows
	url = https://github.com/cloudflare/dynamic-workflows.git
