# Domain Verification Widget

import * as adminPortalDomainVerification from "./admin-portal-domain-verification.props";
import { PropsTableHydrator } from "../../../components/props-table-hydrator";

![Domain Verification Widget screenshot](https://images.workoscdn.com/images/6a98da6f-7178-4bb1-a276-ff024461cc16.png?auto=format\&fit=clip\&q=50)

The `<AdminPortalDomainVerification />` widget enables users to verify domains in the Admin Portal.

In order to use the Domain Verification widget, a user must have a role that has the `widgets:domain-verification:manage` permission.

#### Widget Token

## API Reference
